In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(os.path.join('data', 'first_age.csv'))

In [3]:
df.head()

,name,race,house,other_name_1,other_name_2,other_name_3,other_name_4,other_name_5,fate,relations,death,contributions
0,Aegnor,elf,Noldor,NaN,NaN,NaN,NaN,NaN,NaN,fourth son of Finarfin,slain in the Dagor Bragollach,NaN
1,Amras,elf,Noldor,NaN,NaN,NaN,NaN,NaN,NaN,youngest of the sons of Fëanor and twin brothe...,slain with Amrod in the attack on Eärendil's p...,NaN
2,Amrod,elf,Noldor,NaN,NaN,NaN,NaN,NaN,NaN,youngest of the sons of Fëanor and twin brothe...,slain with Amras in the attack on Eärendil's p...,NaN
3,Angrod,elf,Noldor,NaN,NaN,NaN,NaN,NaN,NaN,third son of Finarfin,slain in the Dagor Bragollach,NaN
4,Aragorn,men,NaN,Elessar,Strider,NaN,NaN,NaN,NaN,thirty-ninth Heir of Isildur in direct line,died of age at 210 years old,NaN

In [4]:
df['index_name'] = df['name']

In [5]:
matrix = df.pivot(index='index_name', columns='name', values=['relations'])

In [6]:
matrix.to_csv(os.path.join('data', 'matrix_first_age.csv'))